
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject SecureStorageService SecureStorage

<div class="container-fluid">
    <div class="row">
         @if (!Navigation.Uri.Contains("VirtualHealthhome") && !Navigation.Uri.EndsWith("/") && !Navigation.Uri.EndsWith("/#"))
    {
        <div class="col-md-2 bg-light p-0 shadow-sm d-none d-md-block">
            <NavMenu />
        </div>
    
        <div class="col-md-10 col-12">
            <div class="top-row px-3 py-2 d-flex justify-content-end align-items-center shadow-sm bg-white">
                <LoginDisplay />
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="ms-3">About</a>
            </div>
            <div class="main-content px-3 pt-3">
                @Body
            </div>
        </div>
    }
    else
    {
        <main>
            <div class="top-row px-4 d-flex justify-content-end align-items-center gap-3">
                <LoginDisplay />
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    }
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }
}
